li {
  color: green;
}
h1{
border-color: yellow;
border-width: 2px;
border-style: solid;
  font-size: 50px;
}
body {
background-image: url(https://images.unsplash.com/photo-1517976547714-720226b864c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3BhY2V4fGVufDB8fDB8fHww&w=1000&q=80);
background-repeat: no-repeat;
background-size: cover;
}
.yellow-text{
  color: yellow;
  font-size: 20px;
}

.bigtext{
  font-size: 40px;
}
#europa-text{
  font-size: 10px;
  color: blue;
}